#ignore the data files#
#######################
#data folder contents
data/*

#data files
*.txt
*.h5
*.hdf
*.hdf5
*.pq
*.dat

#plots
*.svg
*.pdf
*.jpg
*.png

#numpy files
*.npy

#binary wavedump output
*.dat

